@font-face {
    font-family: "San Francisco";
    src: url("System San Francisco Display Regular.ttf") format("truetype");
}
*{
    box-sizing: border-box;
}
:root{
    font-size: 1.4em;
    font-size-adjust: 0.535;
    line-height: 1.348;
    
}
body{
    background-color: rgb(250, 249, 245);
    color: rgb(183, 177, 169);
    font-size: 100%;
    margin: 0;
    font-family: "San Francisco", serif, Georgia, "Times New Roman";
}
h1{
    font-size: 2rem;
}
h1,h2,h3,h4,h5,h6{
    font-family: "San Francisco", serif, Georgia, "Times New Roman";
    color: rgb(250, 249, 245);
    font-weight: 900;
    padding: .8em .4em;
    margin: 0;
    margin-bottom: 0.5em;
    background: rgb(162, 156, 130);
}
li{
}
select,
input,textarea,button{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.348;
    padding: .25em .5em .25em .5em;
    vertical-align: top;
    max-width: 100%;
    color: rgb(183, 177, 169);
    font-family: "San Francisco", serif, Georgia, "Times New Roman";
}
select{
    color: initial;
}
textarea,input[type=text],input[type=password]{
    background: rgb(236, 234, 223);
    
    color: rgb(115, 110, 90);
    border: thin solid rgb(203, 200, 187);
}
input[type=text][disabled]{
    background: rgb(216, 216, 216);
    
    color: rgb(135, 135, 135);
}
input[type=text]{
    width:100%;
    max-width: 15em;
}
button,input[type=submit]{
    transition: box-shadow .1s;
    background: rgb(115, 110, 90);
    border: none;
    color: rgb(250, 249, 245);
}
button:hover,input[type=submit]:hover,input[type=reset]:hover{
    background: rgb(137, 131, 107);
}
.theme-subtle{
    background: rgb(162, 156, 130) !important;
}
.theme-activate{
    
    background-color: rgb(115, 110, 90) !important;
    color: whitesmoke;
}
.theme-activate:hover,
.theme-subtle:hover{
    background-color: rgb(115,110,90) !important;;
}
.bar{
    background: rgb(128, 128, 128);
    color: white;
}
.inner{
    margin: 0;
}
.padding{
    padding: 1em 0;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 10%;
    background: rgb(79, 74, 54);
}
.reading-navigation{
    margin: auto;
    text-align: center;
}
.reading-navigation>*{
    display: block;
}
.reading-navigation>*>*{
        
    padding: .3em 0;
    display: block;
    background: #eb0c0c;
    color: white;
    text-decoration: unset;
    font-size: 2em;
}
.reading-content>*{
    margin-bottom: 2.3em;
}
.whitespaced{
    white-space: normal;
}
.normalize *{
    font-size: 1em;
    line-height: 1em;
    font-family: "sans-serif";
}
.form-input-container{
    background: rgba(255,255,255,0.3);
    padding: .5em;
    border-radius: .5em;
}

.cover-small{
    width: 50px;
    height: 75px;
    background: rgb(19, 38, 62);
    color: rgb(250, 250, 250);
    display: inline-block;
}
.cover-large{
    width: 67px;
    height: 100px;
    background: rgb(162, 156, 130);
    color: rgb(250, 250, 250);
}
.cover-full{
    width: 134px;
    height: 200px;
    background: rgb(52, 101, 164);
    color: rgb(250, 250, 250);
}

.adbar{
    display: none;
    font-size: 8em;
    color: rgb(52, 101, 164);
    line-height: 1;
    text-align:center;
    margin: auto;
    max-width: 100%;
    background: rgb(138, 226, 52);
}
.card{
}
.card>*{
    margin-bottom: 3em;
}

/* COMPLETE---> */
ul.genres{
    padding: unset;
    
    font-size: small;
}
ul.genres li{
    display: inline-block;
    margin: .2em;
}
ul.genres,ul.genres *{
    color: rgb(255,255,255) !important;
}
ul.genres a{
    background: rgb(52, 101, 164);
    padding: 2px 4px;
    border: solid thin rgb(204, 204, 204);
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
}
ul.newchapters, ul.newchapters a{
    color: rgb(52, 101, 164);
    text-decoration: none;
}
ul.newchapters{
    font-size: 150%;
    display: inline-block;
    list-style: none;
    padding: unset;
}
ul.pagination,
ul.pagination ul{
    text-align: center;
    padding: unset;
    margin: unset;
    list-style: none;
}
ul.pagination a,
ul.pagination span{
    display: block;
    padding: .2em;
    font-size: 2em;
    background-color: rgb(115, 110, 90);
    color: rgb(250, 249, 245);
    text-decoration: unset;
}
ul.pagination span{
    background-color: rgb(162, 156, 130);
    color: rgb(250, 249, 245);
}
ul.pagination .primary{
    background-color: rgb(115, 110, 90);
    color: rgb(250, 249, 245);
    
}
ul.pagination .secondary{
    background-color: rgb(162, 156, 130);
    color: rgb(250, 249, 245);
    
}
/* <---COMPLETE */

.nav.list{
    line-height: 5;
    vertical-align: bottom;
    padding: unset;
    margin: unset;
    margin-bottom: 32px;
    background: rgb(79, 74, 54);
}
.nav.list>*{
    display: inline-block;
    vertical-align: middle;
}
.nav.list>*:not(ul)>*{
    text-decoration: none;
    font-weight:800;
    display: block;
    font-size: 2em;
    line-height: 2em;
    padding: .2em;
    color: rgb(250, 249, 245);
}
.novel-listing{
    overflow: auto;
}
.novel-listing>*{
    display: inline-block;
}
.novel-listing>*:nth-child(1){
    text-align: center;
}
.novel-listing>*:nth-child(1)>*{
    margin: auto;
}
.novel-listing>*:nth-child(2){
}
.background{
    
    background: rgb(250, 249, 245);
}
.header{
}
.content{
    
}
.root{
    
    color: rgb(183, 177, 169);
}
/* ------------------------------ */

.landscape{
    width: 100% !important;
    max-width: unset !important;
}
.portrait{
    height: 100%;
}
.block{
    display: block;
}
.vpadding{
    padding-top:1em;
    padding-bottom: 1em;
}
.vbox{
    display: table;
    height: 100%;
    table-layout:  fixed;
}
.vbox>*{
    display: table-row;
}
.hbox{
    display: table;
    width: 100%;
    table-layout:  fixed;
}
.hbox>*{
    display: table-cell;
    width: 1px;
}
.vbox>.box-expand{
    height: 100%;
}
.hbox>.box-expand{
    width: 100%;
}
.top{
    margin: auto;
    margin-top: unset;
}
.bottom{
    margin: auto;
    margin-bottom: unset;
}
.left{
    margin: auto;
    margin-left: unset;
}
.right{
    margin: auto;
    margin-right: unset;
}
.float-clear::after{
    clear: both;
    display: block;
    content: "";
}

.list{
    list-style: none;
    padding: initial;
}
.list>*{
    display: block;
}

.card{
}

.s33-min{
    min-width: 33%;
}
.s50-min{
    min-width: 50%;
}
.s66-min{
    min-width: 66%;
}
/* ------------------------------ */
@media screen and (min-width: 200px){
    .float-left{
        float: left;
    }
    .float-right{
        float: right;
    }
    .s33,.group-s33>*{
        width: 33%;
    }
    .s66{
        width: 66%;
    }
    .s50,.group-s50>*{
        width: 50%;
    }
    .hpadding-s{ 
        padding: 0 .5em;
    }
    ul.pagination li{
        display: inline-block;
    }
    ul.pagination .left{
        float:left;
    }
    ul.pagination .right{
        float:right;
    }
    ul.pagination a,
    ul.pagination span{
        border-radius: 3px;
        margin: 5px;
    }
    .novel-listing>*{
        display: table-cell;
    }
    .novel-listing{
        display: table;
        table-layout: auto;
        max-width: 100%;
        height: 100%;
    }
    .m25{
        min-width: 25%;
    }
    
    .m50,group-m50 > *{
        min-width: 50%;
    }
    .m75{
        min-width: 75%;
    }
    group-m50 > *{
        border-radius: 0px !important;
    }
}
@media screen and (min-width: 300px){
    .hpadding-s,.hpadding-m{ 
        padding: 0 1em;
    }
}
@media screen and (min-width: 500px){
    
    .float-left-2{
        float: left;
    }
    .float-right-2{
        float: right;
    }
}